@page "/create-meetings/{SelectedDate}"
@using Shared.Models.Calendar

<p>Lets create a meeting! Selected date: @SelectedDate.Day @SelectedDate.Month @SelectedDate.Year</p>

@code {
    [Parameter]
    public DayModel SelectedDate { get; set; }
}