@page "/create-meetings/{SelectedDate}"
@using Shared.Models.Calendar

<p>Lets create a meeting! Selected date: @SelectedDate</p>

@code {
    [Parameter]
    public string? SelectedDate { get; set; }
}