@page "/book-meeting/{TeacherEmail}/meetings"

@inject BookMeetingViewModel ViewModel

<h3>BookMeetingPage</h3>

@code {
    
    [Parameter]
    public string? TeacherEmail { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        //TODO: implement functionality that checks if teacheremail (link) is valid, and if not redirects to a not found page


        await ViewModel.FetchUnbookedMeetings(TeacherEmail);

    }

}