@inject IAccountManagement AccountManagement

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">
            <img src="/media/school-meetings-logo.png" alt="" width="100" height="100">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <AuthorizeView>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                                Boka Läraren
                            </NavLink>
                        </li>
                    </NotAuthorized>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="teacher-calendar">
                                Kalender
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" @onclick="AccountManagement.LogoutAsync" style="cursor: pointer;">
                                Logga ut
                                <Icon Name="IconName.ArrowLeftSquare" Color="IconColor.White" ></Icon>
                            </NavLink>
                        </li>
                    </Authorized>
                </AuthorizeView>
                
                
            </ul>

        </div>
    </div>
</nav>



